@use '../__site_scss/card';


.top_languages, 
.coding_total {
  @extend %card-general-base;
}

.coding_total__title,
.top_languages__title {
  font-size: x-large;
}

.coding_total__table,
.top_languages__table {
  border-collapse: collapse;
}

.top_languages__row:nth-child(odd),
.coding_total__row:nth-child(odd)
{
  background-color: hsla(0, 0%, 100%, 0.7);
  border-color: hsla(0, 0%, 100%, 0.7);
  border-style: solid;
}

.coding_total__cell,
.top_languages__cell {
  padding: 12px 15px;
}

@media (min-width: 650px) {
  .top_languages, 
  .coding_total {
    padding: 3rem;
  }
}