@use '../__site_scss/card';
@use "../__site_scss/mixins" as *;

.hero {
  @extend %card-general-base;
  padding-inline: 2rem;
  padding-block: 1rem;
  align-items: center;
  
  @include mq(medium){
    padding-inline: 3rem;
    padding-block: 2rem;
  }
}

.hero > * {
  @include mq(medium){
    margin: 1.5rem;
  }
}

.hero__title_image {
  width: 100%;
  text-align: center;
  
  @include mq(medium){
  }
}

.hero__image {
  border-radius: 10%;
  border-width: 5px;
  border-color: #fff;
  border-style: solid;
  margin-bottom: 1rem;
}

.hero__job_properties tr {
  text-align: right;
}

.hero__job_properties td {
  text-align: left;
}

.hero__job_properties tr:last-child {
  border-width: 0;
}

.hero__job_properties tr th,
.hero__job_properties tr td {
  padding: 5px 16px;
}
