@use '../__site_scss/card';

.hero {
  @extend %card-general-base;
  padding: 2rem 4rem;
  align-items: center;
  margin-block: 1rem;
}

.hero__title {
  font-size: xx-large;
  padding-block: 0.01rem;
}

.hero__sub-title {
  font-size: x-large;
}

.hero__image {
  border-radius: 15%;
  width: 100%;
  max-width: 260px;
  border-width: 5px;
  border-color: #fff;
  border-style: solid;
}

.hero__job_properties {
  text-align: left;
  width: 100%;
  font-size: medium;
  border-collapse: collapse;
  display: table;
}

.hero__job_properties tr {
  border-color: hsla(0, 0%, 100%, 0.7);
  border-style: solid;
  border-width: 0 0 2px 0;
}

.hero__job_properties tr:last-child {
  border-width: 0;
}

.hero__job_properties tr th,
.hero__job_properties tr td {
  padding: 5px 16px;
}
