@use '../__site_scss/card';
@use "../__site_scss/mixins" as *;

.tech_table_container {
  @extend %card-general-base;
  max-width: 35rem;
  padding: 2rem;
}

.tech_table tr th,
.tech_table tr td {
  padding-block: 0.2rem;
  text-align: center;
  @include mq(medium){
    padding: 0.4rem 0.3rem;
  }
}

.tech_table tr th:first-child,
.tech_table tr td:first-child {
  text-align: left;
}