@use '../__site_scss/mixins' as *;

.wide_nav {
    display: none;
}

@include mq(small){
    .wide_nav {
        display: block;
        padding-block: 20px;
        padding-inline: 10px;
    }

    .wide_nav__link_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wide_nav__link_item {
        margin: 0.5rem;
    }
}