@use '../styles/card';
@use "../styles/mixins" as *;

.hero {
  @extend %card-general-base;
  padding-inline: 2rem;
  padding-block: 2rem;
  align-items: center;
  
  @include mq(medium){
    padding-inline: 3rem;
    padding-block: 2rem;
  }
}

.hero__title_image {
  width: 100%;
  text-align: center;
  
  @include mq(medium){
  }
}

.hero__image {
  border-radius: 10%;
  border-width: 5px;
  border-color: #fff;
  border-style: solid;
  margin-bottom: 1rem;
}

.hero__job_properties {
  @include mq(medium){
    padding-left: 10% width;
  }
}

.hero__job_properties tr {
  text-align: right;
}

.hero__job_properties td {
  text-align: left;
}

// .hero__job_properties tr:last-child {
//   border-width: 10px;
// }

.hero__job_properties tr th,
.hero__job_properties tr td {
  padding: 0.1rem 0.3rem;

  @include mq(medium){
    padding-block: 1rem;
  }
}
