@use '../styles/mixins' as *;

.siteMain {
  margin-top: var(--nav-bar-height-small);
  padding-bottom: 500px;
  display: flex;
  justify-content: center;

  @include mq(medium) {
    margin-top: var(--nav-bar-height-medium);
  }
}
