@use "../styles/mixins" as *;

.site_footer {
  background-color: var(--clr-dark-primary);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-block: 100px;
  font-size: large;
  z-index: 0;
  box-shadow: inset 0px 3px 10px #464343;

  @include mq(small) {
    padding-left: 120px;
  }
}

.site_footer a {
  color: var(--clr-primary)
}

.site_footer ul {
  display: flex;
  flex-direction: column;
  margin: var(--default-margin);
}

.site_footer li {
  margin: 0.2rem;
}

.site_footer h3 {
  color: #fff;
  margin: 1px;
}
