@use "../styles/mixins" as *;

.site_footer {
  background-color: var(--clr-li-surface);
  border-top: 1px solid var(--clr-li-border);
  flex-shrink: 0;
  padding-block: 64px;
  font-size: large;
  z-index: 0;

  @include mq(small) {
    padding-left: 120px;
  }
}

.site_footer a {
  color: var(--clr-li-text-muted);
  text-decoration: none;
}

.site_footer a:hover {
  color: var(--clr-li-blue);
  text-decoration: underline;
}

.site_footer ul {
  display: flex;
  flex-direction: column;
  margin: var(--default-margin);
}

.site_footer li {
  margin: 0.2rem;
}

.site_footer h3 {
  color: var(--clr-li-text-muted);
  font-weight: 600;
  margin: 1px;
}
