:root {
  --screen-small-px: 520px;
  --clr-primary: hsl(228, 29%, 18%);
  --clr-dark-accent-opac: rgba(65, 65, 65, 0.929);;
  --clr-light-accent: #0070f3;
  --clr-light-font: #ffffff;
  --clr-bg: rgb(251, 251, 245);;
}

* {
  margin: 0px;
  padding: 0px;
}

/* * :not(a, nav ul li) {
  border-color: yellowgreen;
  border-width: 1px;
  border-style: solid;
} */

body {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* line-height: 1.6; */
  /* font-size: 18px; */
}

#__next {
  background-image: url("https://pixabay.com/get/g57da3f552158291d315285764fbe214d735a6ba4c8caee246f600643e7139b1410a73745d5c38210dafdafffbe4cd7dd37101a01f7bcac6f9526b2f2c8c2d6384e82585d3e0c0a79b1af77687febb3f1_1920.jpg");
  width: 100%;
  height: 600px;
}

ul {
  list-style: none;
}

a {
  color: var(--clr-light-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, footer {
  width: 100%;
  left:0;
  overflow: hidden;
  position: fixed;
  align-items: center;
  background-color: var(--clr-dark-accent-opac);
}

header a {
  color: var(--clr-light-font);
  font-size: large;
  font-weight: bold;
}

footer {
  color: var(--clr-light-font);
  padding: 10px;
  bottom: 0;
}

header {
  top: 0;
  display: flex;
  border-width: 0px;
  padding: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

main {
  max-width: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-inline: 20px;
  background-color: bisque;
}




/* @media (min-width: var(--screen-small-px)) {
  nav ul {
    flex-direction: column;
  }
} */



/* img {
  max-width: 100%;
  display: block;
} */