:root {
  --screen-small-px: 520px;
  --clr-primary: hsl(228, 39%, 23%);
  --clr-dark-accent: #333333;
  --clr-light-accent: #0070f3;
  --clr-light-font: #ffffff;
  --clr-bg: rgb(238, 241, 226);
}

* {
  margin: 0px;
  padding: 0px;
}

/* * :not(a, nav ul li) {
  border-color: yellowgreen;
  border-width: 1px;
  border-style: solid;
} */

html,
body {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* line-height: 1.6; */
  /* font-size: 18px; */
}

ul {
  list-style: none;
}

a {
  color: var(--clr-light-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  overflow: hidden;
  left:0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--clr-dark-accent);
  border-width: 0px;
  padding: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

main {
  max-width: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-inline: 20px;
  background-color: bisque;
}

footer {
  color: var(--clr-light-font);
  background-color: var(--clr-dark-accent);
  padding: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* @media (min-width: var(--screen-small-px)) {
  nav ul {
    flex-direction: column;
  }
} */



/* img {
  max-width: 100%;
  display: block;
} */