@use "../__site_scss/mixins" as *;

%card-general-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: var(--clr-primary);
  color: var(--clr-font-primary);
  border-radius: 2px;
  margin-top: 70px;
  width: 100%;

  @include mq(medium) {
    padding: 5rem;
    width: 100%;
  }
}

.card-collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  @include mq(medium) {
    padding: 0px;
    max-width: 700px;
  }
}

.card-general {
  padding: 2rem;
  min-height: 350px;
  @extend %card-general-base;
}

.card-general--center {
  align-items: center;
}

.card-general--contact {
  padding-left: 10%;
  @include mq(medium) {
  }
}

.card-small {
  h3 {
    font-size: xx-large;
  }

  @extend %card-general-base;
  min-width: 600px;
  padding-block: 20px;
  text-align: left;
}

.card-grid {
  display: grid;
  align-items: center;
  margin: var(--default-margin);
  grid-gap: 1rem;
}

.grid-column-3 {
  grid-template-columns: auto auto auto;
}

.grid-column-2 {
  grid-template-columns: auto auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.hero-section-image {
  border-radius: 50%;
  border-width: 5px;
  border-color: #fff;
  border-style: solid;
}
