:root {
    --clr-primary: hsl(203, 53%, 75%);
    --clr-dark-accent: rgb(65, 65, 65);
    --clr-dark-primary: #0c0d0e;
    --clr-light-accent: #0070f3;
    --clr-font-primary: #0c0d0e;
    --clr-font-contrast: rgb(250, 217, 217);
    --clr-bg: rgb(252, 253, 255);
}