:root {
    --clr-primary: hsl(203, 53%, 75%);
    --clr-dark-accent: rgb(65, 65, 65);
    --clr-light-accent: #0070f3;
    --clr-font-primary: #26272a;
    --clr-font-contrast: #fff;
    --clr-bg: rgb(251, 248, 245);
}