@use "../__site_scss/mixins" as *;

.site-footer {
  color: #fff;
  background-color: var(--clr-dark-primary);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-block: 100px;

  @include mq(small) {
    padding-left: 175px;
  }
}

.site-footer__list {
  display: flex;
  flex-direction: column;
  margin: var(--default-margin);
}

.site-footer__item {
  margin: 0.2rem;
}

.site-footer__item--title h3 {
  margin: 1px;
}
